.bio {
  width: 21rem;
}
.followBtn {
  border-radius: 2rem;
  margin: 2.5rem 2rem;
  padding: 0.5rem 0rem;
  height: fit-content;
  width: 6rem;
}
.profilePost {
  margin: 3rem 0rem 0rem 4rem;
  font-size: 1.3rem;
}

@media screen and (max-width: 768px) {
  .followBtn {
    margin: 0rem 0rem 0.5rem 0rem;
    padding: 0.5rem 0rem;
  }
}
